.footer{
  background: var(--cor-12);
  box-shadow: 0 0 0 100vmax var(--cor-12);
  clip-path: inset(0 -100vmax);
  padding: 62px 20px;
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
}

.footer-bg{
  background: var(--cor-12);
}

#body-bicicleta .footer{
  box-shadow: none;
  clip-path: none;
}

.footer h3{
  margin-bottom: 32px;
}

.footer-contato ul{
  margin-bottom: 32px;
}

.footer-contato li:nth-child(even)::after{
  content: '';
  display: block;
  max-width: 360px;
  height: 4px;
  background: var(--cor-11);
}

.footer li{
  margin-bottom: 16px;
}

.footer-redes{
  display: flex;
  gap: 32px;
}

a{
  cursor: pointer;
  color: inherit;
}

.footer a:hoveR{
  color: var(--cor-0);
}

.footer-cop{
  grid-column: 1/-1;
  margin-top: 40px;
}

@media(max-width:800px){
  .footer > img{
    display: none;
  }

  .footer{
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width:600px){

  .footer{
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .footer-cop{
    margin-top: 0;
  }
}