@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap');

/* REUTILIZAVEIS */
@import './utilidades/componentes.css';
@import './utilidades/tipografia.css';
@import './utilidades/cores.css';
@import './utilidades/margin.css';
@import './header.css';
@import url('./footer.css');

/* HOME */
@import './home/introducao.css';
@import './home/tecnologias.css';
@import './home/parceiros.css';
@import './home/depoimento.css';

/*  BICICLETAS */
@import './bicicletas/bicicletas.css';
@import './bicicletas/bicicletas-lista.css';

/* Seguros */
@import './seguros/seguros.css';

/* TERMOS */
@import './termos/termos.css';

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--cor-11);
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

li{
  color: inherit;
}

img{
  max-width: 100%;
  display: block;
}

img[src$='.jpg']{
  border-radius: 4px;
}



