.bicicletas-lista{
  padding: 60px 20px;
}

.bicicletas-lista ul{
  max-width: 1600px;
  display: flex;
  flex: 1;
  gap: 40px;
  padding: 0 20px 20px;
  margin: 0 auto;
  overflow-x: auto;
}

#body-bicicleta .bicicletas-lista ul{
  padding: 0 0 20px;
}

.bicicletas-lista li{
  min-width: 280px;
}

.bicicletas-lista a{
  display: block;
}

.bicicletas-lista h3{
  display: flex;
  align-items: center;
}

.bicicletas-lista h3::before{
  content: '';
  display: inline-block;
  width: 12px;
  height: 8px;
  background: var(--cor-p1);
  margin-right: 8px;
  transition: width .3s;
}

.bicicletas-lista a:hover h3::before{
  width: 24px;
}

.bicicletas-lista li span{
  padding-left: 20px;
}

@media(max-width:800px){
  .bicicletas-lista{
    margin-bottom: 60px;
  }
  .bicicletas-lista ul{
    gap: 20px;
  }
}