.margin-4{
  margin-bottom: 4px;
}
.margin-8{
  margin-bottom: 8px;
}
.margin-12{
  margin-bottom: 12px;
}
.margin-16{
  margin-bottom: 16px;
}
.margin-20{
  margin-bottom: 20px;
}
.margin-24{
  margin-bottom: 24px;
}
.margin-32{
  margin-bottom: 32px;
}
.margin-36{
  margin-bottom: 36px;
}
.margin-40{
  margin-bottom: 40px;
}
.margin-48{
  margin-bottom: 48px;
}
.margin-60{
  margin-bottom: 60px;
}
.margin-72{
  margin-bottom: 72px;
}
.margin-80{
  margin-bottom: 80px;
}
.margin-120{
  margin-bottom: 120px;
}
.margin-200{
  margin-bottom: 200px;
}